<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <h1 class="text-center login-title">Sign up</h1>

      <div class="account-wall">
        <form class="form-signin" role="form">
          <input type="text" class="form-control" placeholder="Nickname" required autofocus>
          <input type="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block " type="submit">Sign up</button>
        </form>
      </div>

    </div>
  </div>
</div>
