<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <h1 class="text-center login-title">Sign in</h1>

      <div class="account-wall">
        <form class="form-signin" role="form">
          <input type="email" class="form-control" placeholder="Email" required autofocus>
          <input type="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block " type="submit">Sign in</button>
        </form>
      </div>

      <a ng-href="user/signup" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>
